*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: aliceblue;
}

h1{
    font-size: 3rem;
    font-family: 'Acme', sans-serif;
}
h3{
    font-size: 2.2rem;
    font-family: 'Rowdies', cursive;
}
p, li, ul, ol{
    font-size: 1.7rem;
    font-family: 'Kalam', cursive;
}

div{
    border-radius: 20px;
}

hr.sep-2 {
    border: 0; 
    height: 3px;
    width: 30%;
    margin: auto;
    margin-bottom: 200px; 
    background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
  }

.snee{
    margin-bottom: 500px;
}

.top-container{
    height: 100%;
    display: grid;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 200px;
    justify-content: center;
}

.name h1{
    margin-bottom: 20px;
    font-size: 3.9rem;
    font-weight: bolder;
    font-family: 'Acme', sans-serif;
}

.profilePic img{
    height: 300px;
    margin-left: 30px;
    margin-top: 40px;
}

.details{
    margin: auto;
    width: 50%;
    background-color: #1E2022;
    color: aliceblue;
    padding: 20px 20px 20px 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 200px;
    height: max-content;
}
.details h1{
    margin-bottom: 70px;
    color: #3FC1C9;
}
.details h3{
    margin-bottom: 5px;
}
.details p{
    margin-bottom: 50px;
}
.details img{
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.details img:hover{
    height: 180px;
}

.description{
    margin: auto;
    width: 50%;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 200px;
}
.description h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}
.description p{
    font-size: 1.5rem;
}

.thingsShe{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    width: 90%;
    margin-bottom: 200px;
}

.thingsSheLikes, .thingsSheHates{
    width: 50%;
    margin-left: 100px;
    padding: 30px;
    background-color: #8BACAA;
    text-align: center;
}
.thingsSheLikes li, .thingsSheHates li{
    margin-left: 30px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;

}
.thingsSheLikes h1, .thingsSheHates h1{
    margin-bottom: 40px;
}
.thingsSheHates{
    margin-left: 20px;
    width: 50%;
    background-color: #EA906C;
}

.whatMakesHerPretty{
    background-color: #40513B;
    padding: 30px;
    width: 50%;
    margin: auto;
    margin-bottom: 200px;
}
.whatMakesHerPretty h1{
    margin-bottom: 50px;
    color: #9DC08B;
}
.whatMakesHerPretty li{
    margin-bottom: 30px;
    margin-left: 30px;
    color: #EDF1D6;
}
.whatMakesHerPretty p{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #EDF1D6;
}
#summary{
    margin-top: 40px;
    font-size: 2rem;
    color: #EDF1D6;
}

.thingsAbtHer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    width: 90%;
    margin-bottom: 200px;
}
.thingsTOLikeAbtHer, .thingsToHateAbtHer{
    background-color: #C4D7B2;
    margin: auto;
    margin-top: 20px;
    height: max-content;
    padding: 40px;
    width: 50%;
    margin-left: 50px;
}
.thingsToHateAbtHer{
    background-color: #84A7A1;
}
.thingsTOLikeAbtHer h1{
    margin-bottom: 40px;
}
.thingsTOLikeAbtHer ul{
    margin-left: 5%;
}
.thingsToHateAbtHer h1{
    margin-bottom: 40px;
}
.thingsToHateAbtHer li{
    margin-left: 5%;
    margin-bottom: 20px;
}

.mythsVSfacts{
    background-color: #222831;
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 200px;
}
.mythsVSfacts h1{
    margin-bottom: 40px;
    text-align: center;
    color: #00ADB5;
}
.mythsVSfacts h3{
    margin-bottom: 5px;
    color: #EEEEEE;
}
.mythsVSfacts p{
    margin-bottom: 30px;
    color: #EEEEEE;
}
.mythsVSfacts li{
    margin-left: 20px;
    color: #EEEEEE;
}
.mvfs{
    font-weight: 1000;
}

.herPlaylist{
    width: 60%;
    background-color: #00ADB5;
    margin:auto;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    margin-bottom: 200px;
}
.herPlaylist h1{
    margin-top: 25px;
    text-align: center;
    margin-right: 1px;
    margin-left: 70px;
}
.link1, .link2{
    margin-left: 40px;
}
.playlistImg{
    height: 100px;
    border-radius: 100%;
}
.playlistImg:hover{
    height: 120px;
    margin-right: -20px;
    margin-bottom: -20px;
}

.songToHer{
    background-color: #DBE2EF;
    margin:auto;
    margin-top: 20px;
    width: 40%;
    padding: 30px;
    margin-bottom: 200px;
}
.songToHer h1{
    text-align: center;
    margin-bottom: 40px;
}
.tereHawale{
    width: 60%;
    margin-left: 20%;
}

#galleryTitle{
    text-align: center;
    margin-top: 80px;
}
.gallery {
	display: flex;
	padding: 2px;
	transition: 0.3s;
}
.gallery:hover .gallery__image {
	/* filter: grayscale(1); */
}
.gallery__column {
	display: flex;
	flex-direction: column;
	width: 25%;
}
.gallery__link {
	margin: 2px;
	overflow: hidden;
}
.gallery__link:hover .gallery__image {
	/* filter: grayscale(0); */
}
.gallery__link:hover .gallery__caption {
	opacity: 1;
}
.gallery__thumb {
	position: relative;
}
.gallery__image {
	display: block;
	width: 100%;
	transition: 0.3s;
}
.gallery__image:hover {
	transform: scale(1.1);
}
.gallery__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 25px 15px 15px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: white;
	opacity: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
	transition: 0.3s;
}

@media all and (max-width: 1000px) {
    .details{
        width: 80%;
    }

    .description{
        width:90%;
    }

    .thingsShe{
        display: grid;
    }
    .thingsSheLikes{
        margin: auto;
        margin-bottom: 20px;
        width: 70%;
    }
    .thingsSheHates{
        margin: auto;
        width: 70%;
    }
    .whatMakesHerPretty{
        width: 70%;
    }

    .thingsAbtHer{
        display: grid;
    }
    .thingsTOLikeAbtHer{
        margin: auto;
        margin-bottom: 20px;
        width: 70%;
    }
    .thingsToHateAbtHer{
        margin: auto;
        width: 70%;
        height: max-content;
    }

    .mythsVSfacts{
        width: 80%;
    }

    .herPlaylist{
        display: grid;
        
    }
    .herPlaylist h1{
        margin-left: 0;
        margin-bottom: 40px;
    }
    .link1, .link2{
        margin: auto;
        margin-bottom: 30px;
    }

    .songToHer{
        width: 80%;
    }
    .tereHawale{
        width: 100%;
        margin-left: 0;
    }
    
}